<html>
<head>
	<title>Triton Meal Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="margin-top: 60px; margin-bottom: 10px;">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<h2><a class="navbar-brand" href="/">Triton Meal Planner</a></h2>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/help">Help</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container text-center summary">
			<h4>Here's your custom meal plan with {{sum}} calories at ${{budget}}.</h4>
		</div>

		{{#each meals}}
		<div class="card text-left" style="margin-top: 1%;">
			<div class="card-body">
				<h5 class="card-title meal-index">Meal {{inc @index}}</h5>
				<h6 class="card-subtitle row text-muted meal-details ">
					<div class="col-6 text-left" id="item-cal">{{calories}} calories</div>
					<div class="col-6 text-right" id="item-dd">${{price}}</div>
				</h6>
				<h2 class="card-text text-center meal-title">{{item}}</h2>
				<h6 class="card-subtitle mb-2 text-muted text-center meal-loc">from <a href="{{maplink}}">{{dining_hall}}</a></h6>
				<div class="row text-center card-link">
					<div class="col-6">
						<a href={{nutLink}}><h5>See Details</h5></a>
					</div>
					<div class="col-6">
						<a href="#" class="swap-link"><h5>Swap Out</h5></a>
					</div>
				</div>
			</div>
		</div>
		{{/each}}

		<div style="display: none;">
			<p id="dietary">{{prefs.dietary}}</p>
			<p id="location">{{prefs.location}}</p>
			<p id="lower-bound">{{prefs.min}}</p>
			<p id="upper-bound">{{prefs.max}}</p>
		</div>

		<div class="row justify-content-center text-center" style="padding-top: 10px;">
			<div class="col-6">
				<a role="button" class="btn btn-lg btn-outline-secondary" href="/" style="width: 100%;">Start Over</a>
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/swapper.js"></script>

</body>
</html>