<html>
<head>
	<title>Triton Meal Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="padding-bottom: 50px;">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="page-header text-center">
			<a href="/" style="color: #000;"><h1>Triton Meal Planner</h1></a>
		</div>

		<div class="container text-center">
			<h4>Here's your custom meal plan with {{sum}} calories at ${{budget}}.</h4>
		</div>

		{{#each meals}}
		<div class="card text-left">
			<div class="card-body">
				<h5 class="card-title meal-index">Meal {{inc @index}}</h5>
				<h6 class="card-subtitle mb-2 text-muted meal-details">{{calories}} calories, ${{price}}</h6>
				<h2 class="card-text text-center meal-title">{{item}}</h2>
				<h6 class="card-subtitle mb-2 text-muted text-center meal-loc">from <a href="{{maplink}}">{{location}}</a></h6>
				<a href="#" class="card-link text-center swap-link"><h5>Swap Out</h5></a>
			</div>
		</div>
		{{/each}}

		<div class="row text-center" style="padding-top: 10px;">
			<div class="col-6">
				<a role="button" class="btn btn-lg btn-outline-secondary" href="results" style="width: 100%;">Regenerate</a>
			</div>
			<div class="col-6">
				<a role="button" class="btn btn-lg btn-outline-secondary" href="/" style="width: 100%;">Start Over</a>
			</div>
		</div>

		<div class="navbar fixed-bottom bg-light">
			<div class="row col-12" id="bottomNav">
				<div class="col-4 text-center"><a href="login">login</a></div>
				<div class="col-4 text-center"><a href="help">help</a></div>
				<div class="col-4 text-center"><a href="about">about</a></div>
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/swapper.js"></script>

</body>
</html>